<div class="testWrap" layout="column">
	<div  layout="row" style="" >  
		<md-input-container flex="20"  >
			<md-icon md-svg-src="./assets/icons/filter_grey.svg" ></md-icon>
			<md-select ng-model="filter.show" placeholder="Show" style="color: #000000">
				<md-option ng-value="">All</md-option>
				<md-option ng-value="true">Avialable</md-option>
			</md-select>
		</md-input-container>
		<md-input-container flex="60" style="color: #FFFFFF" >
			<md-icon md-svg-src="./assets/icons/search.svg" ></md-icon>
			<input ng-model="searchText" type="text" placeholder="Search"  >
		</md-input-container>
		<div flex="20" layout="row" layout-align="end center">
			
			<md-button class="md-icon-button md-primary" aria-label="Chang Layout" ng-click="changeLayout()">
            	<md-icon ng-if="!grid" md-svg-icon="./assets/icons/grid_view.svg"></md-icon>
            	<md-icon ng-if="grid" md-svg-icon="./assets/icons/list_view.svg"></md-icon>
          	</md-button> 
			<md-button ng-if="adminUser" ng-click="createLector()" class="md-icon-button md-primary">
            	<md-icon md-svg-icon="./assets/icons/plus_black.svg"></md-icon>
          	</md-button>
		</div>
	</div>

	<div class="md-padding" ng-cloak>
		<div flex layout="row" layout-wrap layout-align="start center" >		
 		<div flex="{{layout.flex}}" flex ng-repeat="lector in Lectors | filter:searchText" layout="{{layout.lay}}" class="testCard" style="height:{{layout.height}}" layout-align="start stretch">
 			<img flex="{{layout.flexWidthImg}}" class="testCardImg" ng-src="http://d7grugt4bdqjo.cloudfront.net/app/media/75" class="md-card-image" alt="Washed Out"> 
 			<div flex="50" layout="column" layout-align="start start">
 				<h3>{{lector.name}} {{lector.surname}}</h3>
 				<p>{{lector.email}}</p>
 				<p>{{lector.phone}}</p>
 			</div>
 			<div flex layout="{{layout.layInv}}" layout-align="center stretch">
				<md-button style="width: {{ grid ? '100%' : ''}} " class="md-raised md-primary" ng-click="lectorInfo(lector.id)" layout="row" layout-align="center center">More Info</md-button>
				<div layout="row">
					
				</div>		
 			</div>		
 		</div>

		</div>
		
		
	</div>

</div>