<div >
	<md-card layout-align="center center">
		<img src="/assets/img/newsPictures/class.jpeg">
		<h1>Welcome to TRIM</h1>
	</md-card>
	<md-card>
		<md-card-content>
			<h2>TRIM BETA v0.5.5</h2>
			<p>Dear user, this is beta version of training registration system (dev name : TRIM). Currently none of functionality is vadilated. </p>
		</md-card-content>
		<div class="md-actions" layout="row|column" layout-align="start|end|center start|end|center">
		   <md-button class="md-raised">Read more</md-button>
		 </div>
	</md-card>
</div>