<div ng-if="adminUser" layout="row" ng-controller="AdminCtrl" class="md-whiteframe-3dp" style="background-color:#FFFFFF; color: #000000; border-radius: 3px 3px 0px 0px ">
  <!-- Admin toolbar -->        
  <md-button ng-click="adminAdd.training()">Add Training</md-button>
  <md-button ui-sref="newTest" >Create Test</md-button>      
</div>
<div flex layout="row" layout-wrap>
	<a  flex="45" ng-repeat="test in allTests" ui-sref="testsinner({id : test.id})" ng-class="'testCard'">
		<img src="./assets/img/newsPictures/class.jpeg" style="width:100%; height:auto" class="md-whiteframe-3dp">
		<div class="md-padding">
			<strong>{{test.name}}</strong></br>
			<span>{{test.description}}</span>
		</div>
		
	</a>
</div>

