<div ng-controller="TrainingDetailsCtrl" class="md-padding">

  <div layout="column" class="md-whiteframe-3dp" style="background-color:#FFFFFF; border-radius: 3px;">

    <div ng-if="adminUser" layout="row" ng-controller="AdminCtrl" class="md-whiteframe-3dp" style="background-color:#FFFFFF; color: #000000; border-radius: 3px 3px 0px 0px ">
      <!-- Admin toolbar -->        
      <md-button ng-click="adminAdd.event(tr)">Add Event</md-button>
      <md-button ng-click="adminEdit.event(tr.id)">Edit Events</md-button>
      <md-button ng-click="" ui-sref="editTraining({id : tr.id})">Edit training</md-button>      
    </div>

    <div layout="row" class="md-padding">

      <div flex="66" layout="column" layout-align="start start">
        <p style="font-size: 18pt; font-weight: bold"><md-icon style="margin-right: 10px" md-svg-src="./assets/icons/trainingName.svg" ></md-icon>{{ tr.name }}</p>
        <strong><p>{{ tr.type }} / {{ tr.internal ? "Internal" : "External" }}</p></strong>
        <p><md-icon style="margin-right: 10px" md-svg-src="./assets/icons/discription.svg" ></md-icon>{{ tr.discription }}</p>
        <p ng-if="tr.lector"><md-icon style="margin-right: 10px" md-svg-src="./assets/icons/lector.svg" ></md-icon>Lector : <strong>{{ tr.lector }}</strong></p>
        <p ><md-icon style="margin-right: 10px" md-svg-src="./assets/icons/time.svg" ></md-icon>Length : <strong>{{ tr.hours }} hours</strong></p>
        <p ng-if="tr.status"><md-icon style="margin-right: 10px" md-svg-src="./assets/icons/status.svg" ></md-icon>Status : <strong>{{ tr.status }}</strong></p>
        <p ng-if="tr.responsiblePerson"><md-icon style="margin-right: 10px" md-svg-src="./assets/icons/responsible.svg" ></md-icon>Responsible Person : <strong>{{ tr.responsiblePerson }}</strong></p> 
        <p ng-if="tr.provider"><md-icon style="margin-right: 10px" md-svg-src="./assets/icons/provider.svg" ></md-icon>Provider : <strong>{{ tr.provider }}</strong></p>
      </div>
      <md-divider></md-divider>

      
      <div flex="33" layout="column" layout-align="start stretch">    
        <div layout="column">
          <md-button class="md-raised md-primary" ng-click="subscribe(tr.id)" >Subscribe</md-button>
          <md-button class="md-raised md-primary" ng-click="feedback(tr.id)" >Leave a feedback</md-button>
          <md-button class="md-raised md-warn" ng-disabled="!plannedEvent(tr.id)" ng-click="showRegistrationDialog(tr.id)">Register ({{ tr.price }} Eur)</md-button>
          <md-button class="md-raised md-primary" ng-disabled="true" >Take a test !</md-button>
        </div>
        <div layout-align="center center" md-padding>
          <img src="{{ tr.imgUrl }}" style="width: 50%; height: auto; border-radius: 10px;"> 
        </div>
      </div>
        
    </div>

  </div>
  <div layout="column" layout-align="center center" class="md-whiteframe-3dp" style="background-color:#FFFFFF; border-radius: 5px; padding: 10px ; margin-top: 15px ">

    <div ng-if="!plannedEvent(tr.id)" style=" font-weight: bold ;" layout-align="center center">
      <p> Currently there a no trainings avialable. Click subscribe to be notified about changes regarding this training course. </p> 
    </div>

    <table style="width: 100%;" ng-if="plannedEvent(tr.id)" >
      <tr ng-class="'header'" style= "font-weight: bold;">
        <td>No.</td>
        <td>Event Date</td>
        <td>Location</td>
        <td>Atendees</td>
      </tr>
      <tr ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="ev in events | filter: {trainingId: tr.id}">
        <td>{{ $index + 1 }}</td>
        <td>{{ formatDate(ev.startDate) }}</td>
        <td>{{ ev.location }}</td>
        <td>{{getAtendeeCount(ev.id)}} of {{ ev.atendees }}</td>
      </tr>
    </table>

  </div>

</div>