<div ng-controller="TrainingDetailsCtrl" >
  <div layout="row" class="md-whiteframe-3dp" style="background-color:#FFFFFF; border-radius: 5px; padding: 10px">
    <div flex="66" layout="column">
      <h1>{{ tr.name }}</h1>
      <strong><p>{{ tr.type }} / {{ tr.internal ? "Internal" : "External" }}</p></strong>
      <p>{{ tr.discription }}</p>
      <p ng-if="tr.lector">Lector : <strong>{{ tr.lector }}</strong></p>
      <p ng-if="tr.hours">Length : <strong>{{ tr.hours }} hours</strong></p>
      <p ng-if="tr.status">Status : <strong>{{ tr.status }}</strong></p>
      <p ng-if="tr.responsiblePerson">Responsible Person : <strong>{{ tr.responsiblePerson }}</strong></p> 
      <p ng-if="tr.provider">Provider : <strong>{{ tr.provider }}</strong></p>
    </div>
    <md-divider></md-divider>
    <div flex="33" layout="column" >    
      <div layout="column">
        <md-button class="md-raised md-primary" ng-click="subscribe(tr.id)" >Subscribe</md-button>
        <md-button class="md-raised md-warn" ng-click="showRegistrationDialog(tr.id)">Register ({{ tr.price }} Eur)</md-button>
        <md-button class="md-raised md-primary" ng-disabled="true" >Take a test !</md-button>
      </div>
      <div>
        <img src="{{ tr.imgUrl }}" style="width: 100%; height: auto;border-radius: 10px; padding: 5px;"> 
      </div>
    </div>
      
  </div>
  <div layout="column" layout-align="center center" class="md-whiteframe-3dp" style="background-color:#FFFFFF; border-radius: 5px; padding: 10px ;margin-top: 15px">
    <div ng-if="!plannedEvent(tr.id)" style="font-weight: bold ;" layout-align="center center">
    <p>Currently there a no trainings avialable. Click subscribe to be notified about changes regarding this training course.</p> 
    </div>
    <table style="width: 100%;" ng-if="plannedEvent(tr.id)">
      <tr style="font-weight: bold">
        <td>No.</td>
        <td>Event Date</td>
        <td>Location</td>
        <td>Atendees</td>
      </tr>
      <tr ng-repeat="ev in events | filter: {trainingId: tr.id}">
        <td>{{ $index + 1 }}</td>
        <td>{{ ev.startDate }}</td>
        <td>VNO HQ Moscow Training Room</td>
        <td>15 of 29</td>
      </tr>
    </table>
  </div>
</div>