table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    padding: 15px;
    border-radius: 0px;
    
}
tr {
	border: 1px solid #E0E0E0;
}
tr:hover {
	background-color: #E0E0E0;
}
.header{
	background-color:#90A4AE;
	font-weight: bold;
	color: #FFFFFF;
	

}
.header:hover{
	background-color:#90A4AE;
}
.odd {
	background-color: #FAFAFA;
}
.even {
	background-color: #F5F5F5;
}
