table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    
}
/*md-content {
	background-image: url("/assets/img/test.png");
	background-size: auto 25%;
	background-repeat: repeat-x;
}*/