.testCard:hover {
	background-color: #81D4FA;
}
.testCard {
	margin:5px;
	border: 1px solid #29B6F6;
	background-color: #E1F5FE;
}
.testCard:link {
	color: black;
	text-decoration: none;
}
.testCard:visited {
	color: black;
}
